.one{
	background-color:yellow;
	height:700px;
	width:33%;
	float:left;
}
.two{
	background-color:red;
	height:700px;
	width:33%;
	float:left;
}

.three{
	background-color:blue;
	height:700px;
	width:33%;
	float:left;
}