.one{
	background-color:green;
	height:700px;
	width:33%;
	float:left;
}
.two{
	background-color:yellow;
	height:700px;
	width:33%;
	float:left;
}

.three{
	background-color:orange;
	height:700px;
	width:33%;
	float:left;
}