.one{
	background-color:blue;
	height:700px;
	width:33%;
	float:left;
}
.two{
	background-color:green;
	height:700px;
	width:33%;
	float:left;
}

.three{
	background-color:black;
	height:700px;
	width:33%;
	float:left;
}